*{
	margin: 0;
	padding: 0;
}
.container{
	width: 500px;
	height: 335.2px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.arrows{
	display: none;
	width: 50px;
	height: 80px;
	color: #fff;
	font-size: 3em;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
	top: 50%;
	margin-top: -40px;
	z-index: 2;
}
.images{
	height: 335.2px;
	width: 2500px;
	transition: all .80s ease-in-out;
}
img{
	display: block;
	width: 500px;
	float: left;
}